In [1]:
# pd.to_datetime()
# dt.day
# dt.month
# dt.year
# dt.day_name()
# dt.hour
# dt.minute

overview:
-------------------------------------------
pd.to_datetime(): This function converts a string or an array-like object to a pandas datetime object. It can handle various date formats and can also parse epoch timestamps

dt accessor: Pandas provides a dt accessor for datetime objects, which allows you to extract various datetime properties such as year, month, day, hour, etc. For example, you can use df.dt.year to extract the year from a datetime column

pd.to_timedelta(): This function converts a string or an array-like object to a pandas timedelta object, which represents a duration of time

pd.DateOffset: This class provides various methods for creating date offsets, which are relative time durations that respect calendar arithmetic

pd.Timestamp: This class represents a specific timestamp in pandas, which can be used for various datetime operations

pd.DatetimeIndex: This class represents a sequence of timestamps in pandas, which can be used for indexing and manipulating datetime data

things we can do:
-------------------------------------------
Convert strings to datetime: Use pd.to_datetime() to convert strings to datetime objects.

Assemble a datetime from multiple columns: Use pd.to_datetime() with a DataFrame containing columns for year, month, and day.

Get year, month, and day: Use the dt accessor to extract specific datetime properties, such as df.dt.year, df.dt.month, and df.dt.day.

Get the week of the year, day of the week, and leap year: Use the dt accessor to extract additional datetime properties, such as df.dt.weekofyear, df.dt.dayofweek, and df.dt.is_leap_year.

Get the age from the date of birth: Calculate the age by subtracting the birth date from the current date.

Improve performance by setting the date column as the index: Set the datetime column as the index using 
df.set_index('datetime_column') to improve performance and enable easy filtering and manipulation.

Select data with a specific year and perform aggregation: Use the dt accessor to filter data based on specific years and perform aggregations, such as df[df.dt.year == 2020].

Select data with a specific month and a specific day of the month: Use the dt accessor to filter data based on specific months and days of the month, such as df[df.dt.month == 12 & df.dt.day == 25].

Select data between two dates: Use the dt accessor to filter data between two specific dates, such as df[df.dt.date >= '2020-01-01' & df.dt.date <= '2020-12-31'].

Handle missing values: Fill missing values in datetime columns using various methods, such as df.fillna(), df.interpolate(), or df.replace().

Add and subtract days, hours, and other time units: Use the + operator with pd.Timedelta objects to add or subtract time units, such as df.dt + pd.Timedelta(days=3) or df.dt + pd.Timedelta(hours=6).

Shift datetime index: Use the shift() method to shift the datetime index by a specified time unit, such as df.shift(days=3) or df.shift(hours=6).

In [3]:
import pandas as pd
import numpy as np
import os

In [8]:
df = pd.read_csv('df_apple.csv')
df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,NaN,NaN,699.99,True,desktop
6,7,NaN,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,NaN,desktop