In [8]:
import pandas as pd

data = {
'Shop_Name': ['Starbucks', 'Blue Bottle', 'Dunkin', 'Peets', 'Starbucks', 'La Colombe', 'Blue Bottle', 'Peets', 'Starbucks', 'Dunkin'],
'Location': ['Hollywood', 'San Diego', 'San Diego', 'Hollywood', 'New York', 'New York', 'Hollywood', 'San Diego', 'New York', 'Hollywood'],
'Rating': [4.5, 4.7, 4.1, 4.3, 4.5, 4.8, 4.6, 4.2, 4.4, 3.9],
'Type': ['Chain', 'Independent', 'Chain', 'Chain', 'Chain', 'Independent', 'Independent', 'Chain', 'Chain', 'Chain']
}

df = pd.DataFrame(data)

In [1]:
# Group by both Location and Type. How many independent coffee shops are there in 'San Diego'?
# Group by Shop_Name and Location. Which shop-location combination has the highest average rating?
# Using a grouping of Type and Location, calculate the mean Rating for 'Chain' coffee shops in 'Hollywood'.
# Group by both Location and Type and determine the total count of each combination. Which location-type pair has the highest count?
# Group the data by Shop_Name and Type. For shops that appear in both 'Independent' and 'Chain' categories, which one has a higher mean rating?
# ======================================================
# Group by Location and Type and find out which combination has the widest range of Rating (difference between max and min).
# By grouping based on Shop_Name and Location, determine the median rating of each combination. Which shop-location combination has the lowest median rating?
# Group by both Type and Location, and determine the total sum of ratings for 'Independent' coffee shops across all locations.
# Group the DataFrame by Location and Shop_Name. Which location has the most diverse set of coffee shops in terms of the number of unique shop names?
# After grouping by Type and Shop_Name, which 'Chain' coffee shop has the highest average rating and where is it located?

In [31]:
# Group by both Location and Type. 
# How many independent coffee shops are there in 'San Diego'?

x = df.groupby(['Location', 'Type']).count().reset_index()
x[(x['Location'] == 'San Diego') & (x['Type'] == 'Independent')]['Shop_Name'].values[0]

1

In [36]:
# Group by Shop_Name and Location. 
# Which shop-location combination has the highest average rating?

x = df.groupby(['Location', 'Type'])['Rating'].mean().reset_index()
x[x['Rating'] == x['Rating'].max()]

   Location         Type  Rating
3  New York  Independent     4.8

In [39]:
x[x['Rating'] == x['Rating'].max()].values[0][0]

'New York'

In [41]:
x[x['Rating'] == x['Rating'].max()].values[0][0] +'--' +x[x['Rating'] == x['Rating'].max()].values[0][1]

'New York--Independent'

In [44]:
# Using a grouping of Type and Location, 
# calculate the mean Rating for 'Chain' coffee shops in 'Hollywood'.

x = df.groupby(['Type', 'Location'])['Rating'].mean().reset_index()
x[(x['Location'] == 'Hollywood') & (x['Type'] == 'Chain')]['Rating'][0]

          Type   Location    Rating
0        Chain  Hollywood  4.233333
1        Chain   New York  4.450000
2        Chain  San Diego  4.150000
3  Independent  Hollywood  4.600000
4  Independent   New York  4.800000
5  Independent  San Diego  4.700000

In [60]:
# Group by both Location and Type and determine the total 
# count of each combination. Which location-type pair has the highest count?

x = df.groupby(['Type', 'Location']).count().reset_index()
x['Location'].value_counts().sort_values()

Hollywood    2
New York     2
San Diego    2
Name: Location, dtype: int64

In [72]:
# Group the data by Shop_Name and Type. 
# For shops that appear in both 'Independent' and 'Chain' categories, 
# which one has a higher mean rating?

df.groupby(['Shop_Name', 'Type'])['Rating'].mean().reset_index()
x = df.groupby(['Shop_Name', 'Type'])['Rating'].mean().reset_index()
x

     Shop_Name         Type    Rating
0  Blue Bottle  Independent  4.650000
1       Dunkin        Chain  4.000000
2   La Colombe  Independent  4.800000
3        Peets        Chain  4.250000
4    Starbucks        Chain  4.466667

In [73]:
x[x['Rating'] == x['Rating'].max()]['Shop_Name'].values[0]

'La Colombe'