In [2]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

df = pd.DataFrame(data)
df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

# a_LOC

In [51]:
# Retrieve all the rows for coffee shops located in "Hollywood".
# Change the rating of "Diego Drip" to 5.0 using the loc method.
# Select the 'Rating_out_of_5' for the coffee shop named "NY Espresso".
# Get the 'Visitors_per_day' values for coffee shops that have a rating greater than 4.2.
# Update the 'Location' of "NY Caffeine" to "Brooklyn".
# ================================================
# Retrieve all coffee shops where 'Visitors_per_day' is over 400.
# Find the 'Rating_out_of_5' for coffee shops named "Diego Brew" and "Holly Coffee".
# Update the 'Coffee_Shop_Name' of the shop located in "Hollywood" with a rating of 4.0 to "HollyBuzz Cafe".
# Select shops located in "San Diego" with a rating less than or equal to 4.2.
# Get the 'Coffee_Shop_Name' and 'Rating_out_of_5' for shops that receive between 200 and 400 visitors per day.

In [3]:
# Retrieve all the rows for coffee shops located in "Hollywood".
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Coffee_Shop_Name  7 non-null      object
 1   Location          7 non-null      object
 2   Rating_out_of_5   7 non-null      float64
 3   Visitors_per_day  7 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 352.0+ bytes

In [8]:
df.loc[df['Location'] == 'Hollywood']

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
3      Holly Beans  Hollywood              4.7               330

In [12]:
# Change the rating of "Diego Drip" to 5.0 using the loc method.
df.loc[df['Coffee_Shop_Name'] == 'Diego Drip', 'Rating_out_of_5'] = 5.0
df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day  Rating
0        HollyBrew  Hollywood              4.5               320     NaN
1       Diego Drip  San Diego              5.0               290     5.0
2      NY Espresso   New York              4.0               500     NaN
3      Holly Beans  Hollywood              4.7               330     NaN
4    Diego Morning  San Diego              4.3               280     NaN
5      NY Caffeine   New York              4.4               520     NaN
6    Diego Delight  San Diego              4.2               270     NaN

In [13]:
# Select the 'Rating_out_of_5' for the coffee shop named "NY Espresso".
df.loc[df['Coffee_Shop_Name'] == 'NY Espresso']['Rating_out_of_5']

2    4.0
Name: Rating_out_of_5, dtype: float64

In [19]:
# Get the Visitors_per_day'Visitors_per_day' values for coffee shops that have a rating greater than 4.2.
df.loc[df['Rating_out_of_5'] > 4.2]['Visitors_per_day']

0    320
1    290
3    330
4    280
5    520
Name: Visitors_per_day, dtype: int64

In [33]:
# Update the 'Location' of "NY Caffeine" to "Brooklyn".
df.loc[df['Coffee_Shop_Name'] == 'NY Caffeine', 'Location'] = 'Brooklyn'
df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day  Rating
0        HollyBrew  Hollywood              4.5               320     NaN
1       Diego Drip  San Diego              5.0               290     5.0
2      NY Espresso   New York              4.0               500     NaN
3      Holly Beans  Hollywood              4.7               330     NaN
4    Diego Morning  San Diego              4.3               280     NaN
5      NY Caffeine   Brooklyn              4.4               520     NaN
6    Diego Delight  San Diego              4.2               270     NaN

# b_iLOC

In [34]:
# Get the details of the first coffee shop in the DataFrame.
# Retrieve the names and ratings of the first three coffee shops.
# Extract the ratings for the last two coffee shops.
# Update the 'Visitors_per_day' for the third coffee shop to 505 using iloc.
# Fetch the details for coffee shops at even indices.
# ===================================================

# Extract the names of the last three coffee shops in the DataFrame.
# Update the 'Rating_out_of_5' for the fifth coffee shop to 4.6.
# Get the details of the coffee shop at index 3.
# Fetch the 'Location' and 'Visitors_per_day' for the coffee shops at indices 2, 4, and 6.
# Retrieve the rating of the second-to-last coffee shop in the DataFrame.

In [36]:
# Get the details of the first coffee shop in the DataFrame.
df.iloc[0]

Coffee_Shop_Name    HollyBrew
Location            Hollywood
Rating_out_of_5           4.5
Visitors_per_day          320
Rating                    NaN
Name: 0, dtype: object

In [39]:
# Retrieve the names and ratings of the first three coffee shops.
df.iloc[:3, 0]

0      HollyBrew
1     Diego Drip
2    NY Espresso
Name: Coffee_Shop_Name, dtype: object

In [42]:
# Extract the ratings for the last two coffee shops.
df.iloc[-2:, 2]

5    4.4
6    4.2
Name: Rating_out_of_5, dtype: float64

In [46]:
# Update the 'Visitors_per_day' for the third coffee shop to 505 using iloc.
df.iloc[2, 3] = 505
df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day  Rating
0        HollyBrew  Hollywood              4.5               320     NaN
1       Diego Drip  San Diego              5.0               290     5.0
2      NY Espresso   New York            505.0               505     NaN
3      Holly Beans  Hollywood              4.7               330     NaN
4    Diego Morning  San Diego              4.3               280     NaN
5      NY Caffeine   Brooklyn              4.4               520     NaN
6    Diego Delight  San Diego              4.2               270     NaN

In [49]:
# Fetch the details for coffee shops at even indices.
df.iloc[(i for i in df.index if i%2 ==0)]

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day  Rating
0        HollyBrew  Hollywood              4.5               320     NaN
2      NY Espresso   New York            505.0               505     NaN
4    Diego Morning  San Diego              4.3               280     NaN
6    Diego Delight  San Diego              4.2               270     NaN

# c_COUNT

In [ ]:
# How many coffee shops are there in each location?
# Count the number of coffee shops with a rating above 4.5.
# How many coffee shops receive more than 300 visitors per day?
# Count the number of coffee shops with names containing the word "Diego".
# How many unique locations are there in the DataFrame?
# ================================================

# How many coffee shops have a name that starts with "Holly"?
# Count the number of coffee shops with a rating of exactly 4.0.
# How many coffee shops in "New York" have a rating above 4.5?
# Count the number of coffee shops that receive fewer than 250 visitors per day.
# How many coffee shops in "San Diego" receive more than 350 visitors daily?

In [54]:
# How many coffee shops are there in each location?
df.Location.value_counts()

San Diego    3
Hollywood    2
New York     1
Brooklyn     1
Name: Location, dtype: int64

In [63]:
# Count the number of coffee shops with a rating above 4.5.
df[df['Rating_out_of_5'] > 4.5].shape

(3, 5)

In [65]:
# How many coffee shops receive more than 300 visitors per day?
df[df['Visitors_per_day'] > 300].shape[0]

4

In [66]:
# Count the number of coffee shops with names containing the word "Diego".
df[df['Coffee_Shop_Name'].str.contains('Diego')].shape[0]

3

In [71]:
# How many unique locations are there in the DataFrame?
df.Location.nunique()

4

In [72]:
df.Location.unique()

array(['Hollywood', 'San Diego', 'New York', 'Brooklyn'], dtype=object)

# d_SIZE

In [73]:
# What's the size (number of elements) of the 'Rating_out_of_5' column?
# Calculate the size of the DataFrame after filtering for coffee shops in "San Diego".
# Determine the size of the DataFrame when you only consider the 'Coffee_Shop_Name' and 'Rating_out_of_5' columns.
# What's the size of the DataFrame after dropping the 'Visitors_per_day' column?
# Calculate the size of the DataFrame after selecting only the first 4 rows.
# ===================================================

# Calculate the size of the DataFrame after filtering for coffee shops in "New York".
# What's the size of the DataFrame when you only consider the 'Location' and 'Visitors_per_day' columns?
# Determine the size of the 'Rating_out_of_5' column after dropping any duplicate ratings.
# How many elements are there in the DataFrame after dropping the first two rows?
# Calculate the size of the DataFrame after selecting only the last 5 rows

In [75]:
# What's the size (number of elements) of the 'Rating_out_of_5' column?
df['Rating_out_of_5'].size

7

In [78]:
# Calculate the size of the DataFrame after filtering for coffee shops in "San Diego".
df[df['Location'] == 'San Diego'].size

15

In [80]:
# Determine the size of the DataFrame when you only consider the 'Coffee_Shop_Name' and 'Rating_out_of_5' columns.
df[['Coffee_Shop_Name', 'Rating_out_of_5']].size

14

In [81]:
# What's the size of the DataFrame after dropping the 'Visitors_per_day' column?
df.drop(columns = 'Visitors_per_day').size

28

In [86]:
# Calculate the size of the DataFrame after selecting only the first 4 rows.
df[:4].size

20

In [ ]:
# Calculate the size of the DataFrame after filtering for coffee shops in "New York".
# What's the size of the DataFrame when you only consider the 'Location' and 'Visitors_per_day' columns?
# Determine the size of the 'Rating_out_of_5' column after dropping any duplicate ratings.
# How many elements are there in the DataFrame after dropping the first two rows?
# Calculate the size of the DataFrame after selecting only the last 5 rows