In [2]:
import pandas as pd

data = {
'Shop_Name': ['Starbucks', 'Blue Bottle', 'Dunkin', 'Peets', 'Starbucks', 'La Colombe', 'Blue Bottle', 'Peets', 'Starbucks', 'Dunkin'],
'Location': ['Hollywood', 'San Diego', 'San Diego', 'Hollywood', 'New York', 'New York', 'Hollywood', 'San Diego', 'New York', 'Hollywood'],
'Rating': [4.5, 4.7, 4.1, 4.3, 4.5, 4.8, 4.6, 4.2, 4.4, 3.9],
'Type': ['Chain', 'Independent', 'Chain', 'Chain', 'Chain', 'Independent', 'Independent', 'Chain', 'Chain', 'Chain']
}

df = pd.DataFrame(data)

In [1]:
# Group by the Location column and calculate the mean of the Rating for each location. Which location has the highest average rating?
# Group by the Type column and calculate the total count of each type. Which type of coffee shop is most prevalent?
# Group the data by both Location and Type. What's the maximum rating a 'Chain' coffee shop received in 'Hollywood'?
# By grouping based on the Shop_Name column, can you calculate the range (max-min) of Rating each shop received?
# Group by the Location and find the shop with the highest rating in each location.
# =======================================================
# Calculate the median rating for each Shop_Name by grouping based on the shop name. Which shop has the median rating of 4.5?
# Group by Type and find the standard deviation of Rating for both 'Independent' and 'Chain' shops. Which type has a more consistent rating?
# After grouping by Location, find the total number of reviews each location received (assuming each row is a unique review).
# Group by both Location and Type and calculate the sum of the Rating. Which combination of location and type has the highest total rating?
# Group by Location and find out the 25th percentile of the Rating for each location.

In [3]:
df

     Shop_Name   Location  Rating         Type
0    Starbucks  Hollywood     4.5        Chain
1  Blue Bottle  San Diego     4.7  Independent
2       Dunkin  San Diego     4.1        Chain
3        Peets  Hollywood     4.3        Chain
4    Starbucks   New York     4.5        Chain
5   La Colombe   New York     4.8  Independent
6  Blue Bottle  Hollywood     4.6  Independent
7        Peets  San Diego     4.2        Chain
8    Starbucks   New York     4.4        Chain
9       Dunkin  Hollywood     3.9        Chain

In [10]:
# Group by the Location column and calculate the mean of the Rating for each location. 
# Which location has the highest average rating?

df.groupby('Location')['Rating'].mean().reset_index()['Location'].value_counts().idxmax()

'Hollywood'

In [11]:
df.groupby('Location')['Rating'].mean().idxmax()

'New York'

In [12]:
df.groupby('Location')['Rating'].mean()

Location
Hollywood    4.325000
New York     4.566667
San Diego    4.333333
Name: Rating, dtype: float64

In [20]:
# Group by the Type column and calculate the total count of each type. 
# Which type of coffee shop is most prevalent?

df.groupby('Type').count().reset_index()['Type'].value_counts().idxmax()

'Chain'

In [25]:
df.groupby('Type').count()

             Shop_Name  Location  Rating
Type
Chain                7         7       7
Independent          3         3       3

In [45]:
# Group the data by both Location and Type. 
# What's the maximum rating a 'Chain' coffee shop received in 'Hollywood'?
df.groupby(['Location', 'Type'])['Rating'].max().loc['Hollywood', 'Chain']


# condition_1 = (df['Type'] == 'Chain') & (df['Location'] == 'Hollywood')
# df[condition_1]['Rating'].max()

4.5

In [47]:
df.groupby(['Location', 'Type'])['Rating'].max().loc['Hollywood', 'Chain']

4.5

In [51]:
df.groupby(['Location', 'Type'])['Rating'].max().loc['Hollywood', 'Chain']

4.5

In [60]:
df.groupby(['Location', 'Type'])['Rating'].min().reset_index()

    Location         Type  Rating
0  Hollywood        Chain     3.9
1  Hollywood  Independent     4.6
2   New York        Chain     4.4
3   New York  Independent     4.8
4  San Diego        Chain     4.1
5  San Diego  Independent     4.7

In [63]:
 # By grouping based on the Shop_Name column, 
#  can you calculate the range (max-min) of Rating each shop received?


df.groupby('Shop_Name')['Rating'].max() - df.groupby('Shop_Name')['Rating'].min()

Shop_Name
Blue Bottle    0.1
Dunkin         0.2
La Colombe     0.0
Peets          0.1
Starbucks      0.1
Name: Rating, dtype: float64

In [64]:

df.groupby('Shop_Name')['Rating'].agg(lambda x: x.max() - x.min())

Shop_Name
Blue Bottle    0.1
Dunkin         0.2
La Colombe     0.0
Peets          0.1
Starbucks      0.1
Name: Rating, dtype: float64

In [108]:
df.groupby('Shop_Name')['Rating'].agg(lambda x: sum(x))

Shop_Name
Blue Bottle     9.3
Dunkin          8.0
La Colombe      4.8
Peets           8.5
Starbucks      13.4
Name: Rating, dtype: float64

In [109]:
df.groupby('Shop_Name')['Rating'].max().reset_index()

     Shop_Name  Rating
0  Blue Bottle     4.7
1       Dunkin     4.1
2   La Colombe     4.8
3        Peets     4.3
4    Starbucks     4.5

In [110]:
# Group by the Location and find the shop with the highest rating in each location.
df.groupby('Location')['Rating'].max().idxmax()

'New York'

In [111]:
# Calculate the median rating for each Shop_Name by 
# grouping based on the shop name. Which shop has the median rating of 4.5?
x = df.groupby('Shop_Name')['Rating'].median().reset_index()
x[x['Rating'] == 4.5]['Shop_Name'].values[0]

'Starbucks'

In [112]:
df.groupby('Shop_Name')['Rating'].median().reset_index()

     Shop_Name  Rating
0  Blue Bottle    4.65
1       Dunkin    4.00
2   La Colombe    4.80
3        Peets    4.25
4    Starbucks    4.50

In [123]:
# Group by Type and find the standard deviation of Rating for both
# 'Independent' and 'Chain' shops. Which type has a more consistent rating?

x = df.groupby('Type')['Rating'].std().reset_index()
x.loc[x['Type'].isin(['Chain', 'Independent'])].sort_values(by = 'Rating', ascending = False).iloc[0,0]

In [152]:
# std_dev = df.groupby('Type')['Rating'].std().loc[['Independent', 'Chain']]
# std_dev

df.groupby('Type')['Rating'].std().loc[['Independent', 'Chain']].idxmax()

'Chain'

In [157]:
# After grouping by Location, 
# find the total number of reviews each 
# location received (assuming each row is a unique review).

df.groupby('Location').size().reset_index(name = 'total_reviews')

    Location  total_reviews
0  Hollywood              4
1   New York              3
2  San Diego              3

In [159]:
# Group by both Location and Type and calculate 
# the sum of the Rating. 
# Which combination of location and type has the highest total rating?

df.groupby(['Type', 'Location'])['Rating'].sum().idxmax()

('Chain', 'Hollywood')

In [163]:
# Group by Location and find out the 25th percentile
# of the Rating for each location.

df.groupby('Location')['Rating'].quantile(0.25).reset_index()

    Location  Rating
0  Hollywood    4.20
1   New York    4.45
2  San Diego    4.15